{% extends 'base.html.twig' %}

{% block title %}Referent index{% endblock %}

{% block body %}
    <h1>Referent index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for referent in referents %}
            <tr>
                
                <td>{{ referent.nomReferent }}</td>
                <td>{{ referent.prenomReferent }}</td>
                <td>{{ referent.mailReferent }}</td>
                <td>{{ referent.telephoneReferent }}</td>
                <td>
                    <a href="{{ path('app_referent_show', {'id': referent.id}) }}">show</a>
                    <a href="{{ path('app_referent_edit', {'id': referent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_referent_new') }}">Create new</a>
{% endblock %}
