{% extends 'base.html.twig' %}

{% block title %}Etablissement index{% endblock %}

{% block body %}
    <h1>Etablissement index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Ville</th>
                <th>Site</th>
                <th>departement</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for etablissement in etablissements %}
            <tr>
                
                <td>{{ etablissement.nomEtablissement }}</td>
                <td>{{ etablissement.adresseEtablissement }}</td>
                <td>{{ etablissement.telephoneEtablissement }}</td>
                <td>{{ etablissement.villeEtablissement }}</td>
                <td>{{ etablissement.siteEtablissement }}</td>
                <td>{{ etablissement.departement }}</td>
                <td>
                    <a href="{{ path('app_etablissement_show', {'id': etablissement.id}) }}">show</a>
                    <a href="{{ path('app_etablissement_edit', {'id': etablissement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etablissement_new') }}">Create new</a>
{% endblock %}
